<ion-content>
  <div class="custom-scroll">
    <div class="search">
      <i class="fa-solid fa-arrow-left fa-2xl" style="color: #18181B;"></i>
      <input type="search" id="search" placeholder="Search here...">
      <i class="fa-solid fa-magnifying-glass" style="color: #18181B;"></i>
    </div>
    <div class="pic1" routerLink="tour-1">
      <h2>Jaipur</h2>
      <h2>⭐8 Stars</h2>
    </div>
    <div class="pic2" routerLink="tour-1">
      <h2>Mangalore</h2>
      <h2>⭐10 Stars</h2>
    </div>
    <div class="pic3" routerLink="tour-1">
      <h2>Himachal</h2>
      <h2>⭐9 Stars</h2>
    </div>
    <div class="pic4" routerLink="tour-1">
      <h2>Coorg</h2>
      <h2>⭐10 Stars</h2>
    </div>
    <div class="pic5" routerLink="tour-1">
      <h2>Kerala</h2>
      <h2>⭐6 Stars</h2>
    </div>
    <div class="pic6" routerLink="tour-1">
      <h2>TAJ Mahal</h2>
      <h2>⭐8 Stars</h2>
    </div>
  </div>
</ion-content>