<ion-content>
  <div class="custom-scroll">
    <div class="profile">
      <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
    </div>
    <div class="trans">
      <i class="fa-solid fa-indian-rupee-sign fa-xl" style="color: #000000;"></i><li>Treansactions</li><i class="fa-solid fa-arrow-right fa-xl" style="color: #01060e;" routerLink="transactions"></i>
    </div>
    <div class="trip">
      <i class="fa-solid fa-location-dot fa-xl" style="color: #01060e;"></i><li>Upcoming Trips</li><i class="fa-solid fa-arrow-right fa-xl" style="color: #01060e;" routerLink="trip"></i>
    </div>
    <div class="weat">
      <i class="fa-solid fa-cloud fa-xl" style="color: #6099fb;"></i><li>View live Weather</li><i class="fa-solid fa-arrow-right fa-xl" style="color: #01060e;" (click)="Weat()"></i>
    </div>
    <div class="cont">
      <i class="fa-solid fa-address-book fa-xl" style="color: #46fb7c;"></i><li>Contact us</li><i class="fa-solid fa-arrow-right fa-xl" style="color: #01060e;" routerLink="contact"></i>
    </div>
    <div class="footer">
      <li><i class="fa-brands fa-instagram fa-2xl"></i></li>
      <li><i class="fa-brands fa-facebook fa-2xl"></i></li>
      <li><i class="fa-brands fa-youtube fa-2xl"></i></li>
      <li><i class="fa-brands fa-linkedin fa-2xl"></i></li>
      <li><i class="fa-brands fa-x-twitter fa-2xl"></i></li>
    </div>
  </div>
</ion-content>