<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Payment Mode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="payment-options-content">
  <div class="custom-scroll">
  <ion-card>
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>

  <div class="payment-methods">
    <ion-item class="payment-box">
      <ion-icon name="card" slot="start"></ion-icon>
      <ion-label>Credit Card</ion-label>
    </ion-item>

    <ion-item class="payment-box">
      <ion-icon name="card" slot="start"></ion-icon>
      <ion-label>Debit Card</ion-label>
    </ion-item>

    <ion-item class="payment-box"routerLink="/qr-payment">
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      <ion-label>PhonePe</ion-label>
    </ion-item>

    <ion-item class="payment-box"routerLink="/qr-payment">
      <ion-icon name="logo-paypal" slot="start"></ion-icon>
      <ion-label>PayPal</ion-label>
    </ion-item>

    <ion-item class="payment-box" routerLink="/qr-payment">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>Google Pay</ion-label>
    </ion-item>

    <ion-item class="payment-box" routerLink="qr-payment">
      <ion-icon name="logo-rss" slot="start"></ion-icon>
      <ion-label>Razorpay</ion-label>
    </ion-item>

    <ion-item class="payment-box">
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      <ion-label>Paytm</ion-label>
    </ion-item>
  </div>

  <ion-button expand="full" class="continue-button" color="white" routerLink="/qr-payment">Continue</ion-button>
  </div>
</ion-content>