<ion-content class="payment-success-content">
  
  <div class="success-container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>
    <h1 class="success-title">Booking Successful!</h1>
    <p class="success-message">
      Your payment has been successfully processed, and your Purchase is now booked.
    </p>
    <ion-button expand="full" class="pink-button">Back to Home</ion-button>
  </div>
</ion-content>